*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #EEEEEE;
}

h1{
    background-color:#161E54;
    color: #CCD7C5;
    height: 5rem;
    line-height: 5rem;
}
.choice img{
    height:150px;
    width:150px;
    object-fit: cover;
}

img{
    height:100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
}

img:hover{
    border: 5px solid #211832;
    transform: scale(1);
   
}

.containeer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.scoreBoard{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      margin-top: 5rem;
      font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.moveReminder{
    height: 5rem;
    margin-top: 5rem;
}
#msg{
    background-color: #412B6B;
    color: white;
    display: inline;
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}